body {
    background: linear-gradient(#ffdddd, #ffecec, #fff8f8);
    font-family: "Poppins", Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    color: #b30000;
    text-shadow: 2px 2px 6px #fff;
}

.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 18px;
    border: 4px solid #2e8b57;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background: #b30000;
    color: white;
    padding: 12px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr:hover { background: #fff0f0; }

.result-box {
    margin-top: 20px;
    padding: 15px;
    background: #f2ffe6;
    border-left: 6px solid #2e8b57;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

/* NAVIGATION BAR */
.navbar {
    text-align: center;      
    margin-bottom: 20px;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    padding: 8px 12px;
    color: #b30000;
    font-weight: bold;
}

nav a:hover {
    background: #2e8b57;
    color: white;
    border-radius: 5px;
}
