body {
    background: linear-gradient(#ffdddd, #ffecec, #fff8f8);
    font-family: "Poppins", Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #b30000; 
    font-size: 48px;
    text-shadow: 2px 2px 6px #fff;
    margin-bottom: 25px;
}

.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 18px;
    border: 4px solid #2e8b57; 
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

h2 {
    color: #2e8b57;
    text-align: center;
    font-size: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background: #b30000; 
    color: white;
    padding: 12px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background: #fff0f0;
}

.result-box {
    margin-top: 20px;
    padding: 15px;
    background: #f2ffe6; 
    border-left: 6px solid #2e8b57;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
